* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Calibri", sans-serif;
    background-color: #EAE7DC;
}

.chat-form__submit {
    color: #989898;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 10px 50px;
    background-color: #fff1d3;
    border: unset;
    cursor: pointer;
    border-radius: 15px;
    transition: transform .2s;
    display: block;
}

.chat-info__logout {
    color: #E85A4F;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #fff1d3;
    border: unset;
    cursor: pointer;
    border-radius: 15px;
    display: block;
}

.chat-form__submit:hover {
    transform: scale(1.1);
}

.chat-form__submit:active {
    transform: scale(1);
}

.chat-info {
    font-size: 20px;
    border-radius: 15px;
    padding: 20px;
    margin: 0 0 0 50px;
    width: 20%;
    height: 50%;
    background: rgb(255, 255, 255);
    color: #000000;
}

.chat {
    font-size: 20px;
    border-radius: 15px;
    padding: 20px;
    margin: 0;
    width: 40%;
    height: 70%;
    background: rgb(255, 255, 255);
    color: #000000;
}

.chat-messages {
    min-height: 90%;
    max-height: 90%;
    overflow: auto;
    margin: 0 0 10px 0;
}

.chat-messages__content {
    padding: 1px;
}

.chat__message {
    margin-top: 2px;
    padding: 2px;
}

.chat__message_black {
    border-color: #000;
}

.chat__message_blue {
    border-color: blue;
}

.chat__message_green {
    border-color: green;
}

.chat__message_red {
    border-color: red;
}

input {
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    vertical-align: middle;
    background: #fff1d3;
    color: #000000;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    transition: box-shadow .2s;
}

input:focus, input:hover {
    box-shadow: 0 0 0 1px #E85A4F;
}

.chat-form__input {
    width: 80%;
}

form {
    display: flex;
    justify-content: space-between;
}