@import "../fonts/SFUIText/style.css";

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'SF UI Text', sans-serif;
    background-color: #EAE7DC;
}

.none {
    display: none;
}

/* ЧАТ */

.chat-message-container_yours {
    padding: 10px;
    margin: 0 10px 20px;
    background-color: #fff1d3;
    border-radius: 15px;
    clear: both;
    word-wrap: break-word;
    float: right;
}

.chat-message-container_another {
    padding: 10px;
    margin: 0 10px 20px;
    background-color: #fff1d3;
    border-radius: 15px;
    clear: both;
    word-wrap: break-word;
    float: left;
}

.chat-message_yours {
    text-align: right;
}

.chat-message_another {
    text-align: left;
}

.chat-message_time_yours {
    font-size: 15px;
    text-align: right;
}

.chat-message_time_another {
    font-size: 15px;
    text-align: left;
}

.chat-info_message {
    padding: 10px;
    margin: 0 10px 10px;
    text-align: center;
    clear: both;
    display: block;
}

/* ИНФОРМАЦИЯ О ЧАТЕ */

.chat-form__submit {
    color: #989898;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 0 20px;
    padding: 10px 50px;
    background-color: #fff1d3;
    border: unset;
    cursor: pointer;
    border-radius: 15px;
    transition: transform .2s;
}

.chat-input {
    vertical-align: bottom;
}

.online-users-list {
    overflow: auto;
}

.chat-info__online-users {
    font-size: 20px;
    margin-bottom: 20px;
    height: 78%;
}

.chat-info__username {
    font-size: 25px;
    margin-bottom: 20px;
}

.logout-btn {
    color: #E85A4F;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #fff1d3;
    border: unset;
    cursor: pointer;
    border-radius: 15px;
    transition: transform .2s;
    display: flex;
    margin: 0 auto;
}

.online-users-label {
    margin-bottom: 10px;
}

.logout-btn:hover {
    transform: scale(1.1);
}

.logout-btn:active {
    transform: scale(1);
}

.chat-form__submit:hover {
    transform: scale(1.1);
}

.chat-form__submit:active {
    transform: scale(1);
}

.chat-info {
    border-radius: 15px;
    padding: 20px;
    margin: 0 0 0 50px;
    width: 20%;
    height: 50%;
    background: rgb(255, 255, 255);
    color: #000000;
    box-shadow: 0 5px 10px #ccc;
}

.chat {
    font-size: 20px;
    border-radius: 15px;
    padding: 20px;
    margin: 0;
    width: 40%;
    height: 70%;
    background: rgb(255, 255, 255);
    color: #000000;
    box-shadow: 0 5px 10px #ccc;
}

.chat-messages {
    height: 88%;
    overflow: auto;
    margin: 0 0 20px 0;
}

.chat__message {
    margin-top: 2px;
    padding: 2px;
}

.chat__message_black {
    border-color: #000;
}

.chat__message_blue {
    border-color: blue;
}

.chat__message_green {
    border-color: green;
}

.chat__message_red {
    border-color: red;
}

input {
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    vertical-align: middle;
    background: #fff1d3;
    color: #000000;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    display: inline-block;
    transition: box-shadow .2s;
}

input:focus, input:hover {
    box-shadow: 0 0 0 1px #E85A4F;
}

.chat-form__input {
    width: 80%;
}

form {
    display: flex;
    justify-content: space-between;
}