<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Уютный чатик</title>
    <link rel="stylesheet" href="../assets/css/chat.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body>

<div class='chat'>
    <div class='chat-messages' id="chat">
        <div class='chat-messages__content' id='messages'> </div>
    </div>
    <div class='chat-input'>
        <form method='post' id='chat-form'>
            <input type='text' id='message-text' class='chat-form__input' placeholder='Введите сообщение'>
            <button type="submit" class='chat-form__submit'> 🔥 </button>
        </form>
    </div>
</div>

<div class="chat-info" id="chat_info">
    <div class="chat-info__username" id="username"></div>
    <button class='chat-info__logout' id="logout-btn">Выйти</button>
</div>

<script src="../assets/js/websocket.js"></script>

</body>
</html>