<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация и авторизация</title>
    <link rel="stylesheet" href="../assets/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<!-- Authorization or Registration Form -->

<form>
    <button type="submit" formaction="authorization">Авторизация</button>
    <label style="align-self: center">или</label>
    <button type="submit" formaction="registration">Регистрация</button>
</form>

<script src="../assets/js/main.js"></script>

</body>
</html>